.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 39px;
    margin: 0;
    width: 294px;
}

@media screen and (max-width: 767px) {
    .profile__name {
        width: 189px;
        font-size: 27px;
        line-height: 26px;
        grid-column: 2/3;
        text-align: center;
    }
}