@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__subname/profile__subname.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__card-photo/elements__card-photo.css);
@import url(../blocks/elements/__card-info/elements__card-info.css);
@import url(../blocks/elements/__card-title/elements__card-title.css);
@import url(../blocks/elements/__card-heart/elements__card-heart.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__window/popup__window.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_name/popup__input_name.css);
@import url(../blocks/popup/__input/_subname/popup__input_subname.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__close/popup__close.css);

@import url(../blocks/button-styles/button-styles.css);