.profile__info {
    width: 336px;
    height: 73px;
    display: grid;
    margin: auto 0;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    gap: 16px 18px;
}

@media screen and (max-width: 767px) {
    .profile__info {
        gap: 10px 14px;
        margin: 26px auto 36px;
        grid-template-columns: 1fr 189px 1fr;
        width: 100%;
    }
}